/**** VARIABLES
*******************************************************************************/
@pageWidth: 900px;
@rightColWidth: @pageWidth * 0.72;
@leftColWidth: @pageWidth - @rightColWidth;

@font-verysmall: 1em;
@font-small: 1.1em;
@font-normal: 1.2em;

@color: #525252;
@error-color: darkred;
@success-color: darkgreen;

@box-bgcolor: rgba(255, 255, 255, 0.6);

@menu-selected-color: #FFF;
@menu-selected-bgcolor: rgba(51, 51, 51, .6);

@base-img-url: "../img/";

/**** FUNCTIONS
*******************************************************************************/
.rounded-corners (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.text-effect (@color: #FFF) {
    text-shadow: 0px 1px 1px @color;
}

/*.box-shadow (@x: 0, @y: 0, @blur: 11px, @spread: -9px, @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}*/
.box-shadow () {
    -webkit-box-shadow: 0px 0px 11px -9px #000000;
    -moz-box-shadow: 0px 0px 11px -9px #000000;
}


/**** COMMON
*******************************************************************************/
body {
    margin: 0;
    padding: 0;
    color: @color;
    font-family: 'Volkov', sans-serif;
}

.clear {
    clear: both;
}

button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
/*    margin: 0 2px;*/
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    .rounded-corners;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #606060;
    border: solid 1px #B7B7B7;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEDED));
    background: -moz-linear-gradient(top, white, #EDEDED);
    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed')";
    &:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc')";
    }
}


/**** SLIDER
*******************************************************************************/
@import "css/slider.css";

.nivo-controlNav {
    height: 20px;
    width: 100%;
    margin-top: 300px;
    position: absolute;
    text-align: center;
    a {
        margin: 2px;
        width: 12px;
        height: 12px;
        color: lightgrey;
        font-size: 2px;
        background: lightgrey;
        .rounded-corners(10px);
        display: inline-block !important;
        &.active {
            color: darkgrey;
            background: darkgrey;
        }
    }
}

.nivoSlider {
    position:relative;
    width:613px; /* Change this to your images width */
    height:300px; /* Change this to your images height */
    background:url('@{base-img-url}loader.gif') no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}


/**** MENU
*******************************************************************************/
.menu {
    margin: 0 auto;
    width: @pageWidth;
    .menu-wrap {
        width: @leftColWidth;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 1;

        .logo {
            padding: 10px 0 80px 30px;
        }

        .links {
            margin: 0 20px;
            .link {
                padding: 5px 5px 5px 35px;
                border-left: 1px solid transparent;
                border-bottom: 1px solid transparent;
                a {
					.text-effect;
                    color: @color;
                    font-size: @font-small;
                    text-decoration: none;
                }
				a:hover {
					color: #ACA185;
					xbackground: url('@{base-img-url}rond.png') no-repeat scroll left transparent;
				}
                &.selected {
                    background: @menu-selected-bgcolor;
                    border-left: 1px solid #EFEFEF;
                    border-bottom: 1px solid #EFEFEF;
                    a {
                        color: @menu-selected-color;
                        .text-effect(@menu-selected-bgcolor);
                    }
                }
            }
        }
		
		.tel {
			padding: 80px 0 0 55px;
			color: #ACA185;
			xfont-weight: bold;
			font-size: 1.4em;
			xtext-align: center;
		}
    }
}


/**** CONTENT
*******************************************************************************/
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    .page {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;

        .content {
            margin: 0 auto;
            width: @pageWidth;

            .content-wrap {
                float: right;
                padding-top: 10px;
                width: @rightColWidth;

                form {
                    .rounded-corners;
                    .box-shadow;
                    padding: 20px 20px 10px 20px;
                    background: @box-bgcolor;

                    .field {
                        padding: 10px;
                        label {
                            width: 80px;
                            font-size: @font-normal;
                            display: inline-block;
                        }
                        input {
                            width: 260px;
                        }
                        input, textarea {
                            padding: 5px 3px;
                            .rounded-corners;
                            font-size: @font-normal;
                            border: 1px solid #AAA;
                            &.error {
                                border-color: @error-color;
                            }
                            &.valid {
                                border-color: @success-color;
                            }
                        }
                        textarea {
                            width: 85%;
                            height: 150px;
                            padding-left: 3px;
                        }
                        .msg {
                            height: 16px;
                            span {
                                color: @error-color;
                                padding: 10px;
                            }
                        }
                        div.msg {
                            margin-left: 80px;
                        }
                    }

                    .footer {
                        padding: 0 14px 10px 0px;
                        text-align: right;
                        .status {
                            padding: 10px;
                            position: absolute;
                            margin-left: 90px;
                            margin-top: -7px;
                            font-size: @font-normal;
                            &.success {
                                color: @success-color;
                            }
                            &.error {
                                color: @error-color;
                            }
                            &.loading {
                                padding-left: 25px;
                                background: url('@{base-img-url}loader.gif') no-repeat scroll 0 15px transparent;
                            }
                        }
                    }

                }

                h2 {
                    margin: 0;
                    font-size: 2.7em;
                    .text-effect;
                    font-family: 'Amaranth', sans-serif;
    				padding: 10px 0 0;
                }

                .subtitle {
                    color: #ACA185;
                    font-size: 1.3em;
                    font-style: italic;
                    margin-bottom: 25px;
                    font-family: 'Volkhov', serif;
                }

				p {
					text-align: justify;
					font-size: @font-normal;					
				}
				
				.subsubtitle {
					color: #81003B;
					font-weight: bold;
					font-size: @font-small;
				}
				
				.horizontal-boxes { 	
					width: @rightColWidth;
                    position: relative;
                    margin: 5px 0;
                    table-layout: fixed;
                    border-spacing: 10px 0;
                    border-collapse: separate;
					border-top: 1px dashed rgba(0, 0, 0, 0.4);
					
					td {
                        padding: 10px;
						font-size: @font-normal;
						text-align: justify;
					}
				}
				
				.square {
					list-style-type:square;
					color: #ACA185;
					xfont-size: @font-small;
					text-align: justify;
					padding: 0 0 0 40px;
					margin: 0;
					xlist-style-image: url('@{base-img-url}rond-croix.png');
				}
				
				li span {
					color: @color;
				}
				
				.vert {
					color: #ACA185;
					font-weight: bold;
				}
				
                .border {
                    xheight: 130px !important;
                    xwidth: 180px;
                    .rounded-corners;
                    .box-shadow;
                    background: @box-bgcolor;
                    padding: 20px 20px 20px 20px;
                }				
				
                .carousel {
                    height: 300px !important;
                    width: 613px;
                    .rounded-corners;
                    .box-shadow;
                    background: @box-bgcolor;
                    padding: 20px 20px 30px 20px;
                }

                .boxes {
                    width: @rightColWidth + 25px;
                    left: -10px;
                    position: relative;
                    margin: 20px 0;
                    table-layout: fixed;
                    border-spacing: 10px 0;
                    border-collapse: separate;

                    td {
                        padding: 10px;
                        .rounded-corners;
                        .box-shadow;
                        background: @box-bgcolor;
                        h3 {
                            margin: 5px 0;
                            text-align: center;
                        }
                        p {
                            font-size: @font-verysmall;
                            text-align: justify;
                        }

						.square {
							list-style-type:square;
							color: #ACA185;
							padding: 0 0 0 20px;
							margin: 0;
							xlist-style-image: url('@{base-img-url}rond-croix.png');
						}

						li span {
							color: @color;
						}
                        
                        .link {
                            text-align: right;
                            a {
                                color: #fff;
                                text-decoration: none;
								background-color: #B10055;
								padding: 3px 4px 3px 4px;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                }

            }

        }
    }
}


#page1 {
    background: url('../img/04original.gif') repeat scroll 0 0 transparent;
}
#page2 {
    background: url('../img/04original.gif') repeat scroll 0 0 transparent;
}
#page3 {
    background: url('../img/02original.gif') repeat scroll 0 0 transparent;
}
#page4 {
    background: url('../img/03original.gif') repeat scroll 0 0 transparent;
}
#page5 {
    background: url('../img/03original.gif') repeat scroll 0 0 transparent;
}
#page6 {
    background: url('../img/03original.gif') repeat scroll 0 0 transparent;
}
#page7 {
    background: url('../img/02original.gif') repeat scroll 0 0 transparent;
}