/**** VARIABLES
*******************************************************************************/
@pageWidth: 900px;
@rightColWidth: @pageWidth * 0.75;
@leftColWidth: @pageWidth - @rightColWidth;

@font-small: 1.1em;
@font-normal: 1.2em;

@color: #525252;

/*@box-bgcolor: #CAC9C9;*/
@box-bgcolor: rgba(255, 255, 255, 0.6);

@menu-selected-color: #FFF;
@menu-selected-bgcolor: rgba(51, 51, 51, .8);


/**** FUNCTIONS
*******************************************************************************/
.rounded-corners (@radius: 3px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.text-effect (@color: #FFF) {
    text-shadow: 0px 1px 1px @color;
}

.box-shadow () {
    -webkit-box-shadow: 0px 0px 11px -9px #000000;
    -moz-box-shadow: 0px 0px 11px -9px #000000;
}

button {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
/*    font: 14px/100% Arial, Helvetica, sans-serif;*/
    padding: 5px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #606060;
    border: solid 1px #B7B7B7;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEDED));
    background: -moz-linear-gradient(top, white, #EDEDED);
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');*/
    &:hover {
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
/*        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');*/
    }
}

/**** COMMON
*******************************************************************************/
body {
    margin: 0;
    padding: 0;
    color: @color;
    font-family: 'Abel', sans-serif;
}

.clear {
    clear: both;
}


/**** MENU
*******************************************************************************/
.menu {
    margin: 0 auto;
    width: @pageWidth;
    .menu-wrap {
        width: @leftColWidth;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 1;

        .logo {
            padding: 50px 0 170px 35px;
        }

        .links {
            margin: 0 20px;
            .link {
                padding: 5px 5px 5px 20px;
                border-left: 1px solid transparent;
                border-bottom: 1px solid transparent;
                a {
                    .text-effect;
                    color: @color;
                    font-size: @font-small;
                    text-decoration: none;
                }
                &.selected {
                    background: @menu-selected-bgcolor;
                    border-left: 1px solid #EFEFEF;
                    border-bottom: 1px solid #EFEFEF;
                    a {
                        color: @menu-selected-color;
                        .text-effect(@menu-selected-bgcolor);
/*                        text-shadow: 0px -1px 1px #000000;*/
                    }
                }
            }
        }

    }
}


/**** CONTENT
*******************************************************************************/
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    .page {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;

        .content {
            margin: 0 auto;
            width: @pageWidth;

            .content-wrap {
                float: right;
                padding-top: 10px;
                width: @rightColWidth;

                form {
                    .rounded-corners;
                    .box-shadow;
                    padding: 20px 20px 10px 20px;
                    background: @box-bgcolor;
                    div {
                        padding: 10px;
                        label {
                            width: 80px;
                            font-size: @font-normal;
                            display: inline-block;
                        }
                        input {
                            width: 300px;
                        }
                        input, textarea {
                            padding: 5px 2px;
                            .rounded-corners;
                            font-size: @font-normal;
                            border: 1px solid #AAA;
                        }
                        textarea {
                            width: 85%;
                            height: 200px;
                        }
                        span {
                            color: #AAA;
                            padding: 10px;
                        }
                    }
                    .footer {
                        text-align: right;
                    }
                }

                h2 {
                    margin: 0;
                    font-size: 4em;
                    .text-effect;
                    font-family: 'Yanone Kaffeesatz', sans-serif;
                }

                .subtitle {
                    color: #636363;
                    font-size: @font-small;
                    font-style: italic;
                    margin-bottom: 25px;
                    font-family: 'Volkhov', serif;
                }

                .carousel {
                    height: 323px;
                    width: 640px;
                    .rounded-corners;
                    .box-shadow;
                    background: @box-bgcolor;
                    padding: 20px 20px 10px 20px;
                    .pagination {
                        li {
                            width: 12px;
                            height: 12px;
                            color: black;
                            font-size: 2px;
                            background: black;
                            margin-left: 5px !important;
/*                            .box-shadow;*/
                            .rounded-corners(10px);
                            &.current {
                                color: @color;
                                background: @color;
                            }
                        }
                    }
                }

                .boxes {
                    width: @rightColWidth + 25px;
                    left: -10px;
                    position: relative;
                    margin: 20px 0;
                    table-layout: fixed;
                    border-spacing: 10px 0;
                    border-collapse: separate;
                    td {
                        padding: 10px;
                        .rounded-corners;
                        .box-shadow;
/*                        border: 1px solid white;*/
                        background: @box-bgcolor;
                        h3 {
                            margin: 5px 0;
                            text-align: center;
                        }
                        p {
                            font-size: @font-small;
                            text-align: justify;
                        }
                        
                        .link {
                            text-align: right;
                            a {
                                color: @color;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                }

            }

        }
    }
}


#page1, #page2 {
    background: url('../img/33original.gif') repeat scroll 0 0 transparent;
}
/*#page2 {
    background: #DDDDDD;
}*/
#page3 {
    background: #CCCCCC;
}
#page4 {
    background: #BBBBBB;
}
#page5 {
    background: #AAAAAA;
}